@model ChangeUserPassword.Models.ChangePasswordModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off" }))
{
    <div>
        @Html.ValidationSummary(false)
    </div>
    <div>
        @Html.LabelFor(model => model.UserName)
        @Html.ValidationMessageFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName)
    </div>
    <div>
        @Html.LabelFor(model => model.OldPassword)
        @Html.ValidationMessageFor(model => model.OldPassword)
        @Html.PasswordFor(model => model.OldPassword)
    </div>
    <div>
        @Html.LabelFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword)
    </div>
    <div>
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
        @Html.PasswordFor(model => model.ConfirmPassword)
    </div>
    <div>
        <input type="submit" value="Change" />
    </div>
}